
.metadata/.lock

.metadata/.log

.metadata/.plugins/org.eclipse.core.resources/.history/11/70fead5518e000131e7590f3ecbdd30c

.metadata/.plugins/org.eclipse.core.resources/.history/49/a06ce7c91ce000131e7590f3ecbdd30c

.metadata/.plugins/org.eclipse.core.resources/.history/8/b06189ff17e000131e7590f3ecbdd30c

.metadata/.plugins/org.eclipse.core.resources/.history/8b/90379d4e18e000131e7590f3ecbdd30c

.metadata/.plugins/org.eclipse.core.resources/.history/a2/2084e5c01ce000131e7590f3ecbdd30c

.metadata/.plugins/org.eclipse.core.resources/.history/b8/b06200a11ce000131e7590f3ecbdd30c

.metadata/.plugins/org.eclipse.core.resources/.history/c6/100a13eb17e000131e7590f3ecbdd30c

.metadata/.plugins/org.eclipse.core.resources/.history/ea/e06efb5e18e000131e7590f3ecbdd30c

*.snap

*.version

*.index

*.tree

*.resources

*.prefs

*.launch

.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml

.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt

.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat

*.xml

*.png

*.history
*.suo
*.exe
k-cluster/bin/Debug/k-cluster.exe.config
*.pdb
k-cluster/bin/Debug/k-cluster.vshost.exe.config
k-cluster/bin/Debug/k-cluster.vshost.exe.manifest
*.cache
k-cluster/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
k-cluster/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
k-cluster/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
k-clustering/bin/Debug/k-clustering.exe.config
k-clustering/bin/Debug/k-clustering.vshost.exe.config
k-cluster/obj/Debug/k-cluster.csproj.FileListAbsolute.txt
AllPairsShortestPaths/bin/Debug/AllPairsShortestPaths.exe.config
AllPairsShortestPaths/bin/Debug/AllPairsShortestPaths.vshost.exe.config
AllPairsShortestPaths/bin/Debug/AllPairsShortestPaths.vshost.exe.manifest
AllPairsShortestPaths/obj/Debug/AllPairsShortestPaths.csproj.FileListAbsolute.txt
AllPairsShortestPaths/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AllPairsShortestPaths/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KnapSack/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KnapSack/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KnapSack/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KnapSack/obj/Debug/KnapSack.csproj.FileListAbsolute.txt
KnapSack/bin/Debug/KnapSack.vshost.exe.manifest
KnapSack/bin/Debug/KnapSack.vshost.exe.config
KnapSack/bin/Debug/KnapSack.exe.config
